<script id="comment-input-tpl" type="text/template">
<textarea class="comment-detail" title="微博输入框" name="" style="margin: 1px 0 10px; padding: 5px; font-size: 14px; font-family: Tahoma, 宋体; word-wrap: break-word; line-height: 18px; overflow-y: auto; overflow-x: hidden; outline: none;"></textarea>
<div class="fn-clear">
<ul class="commoned-list unstyled fn-left">
    <li>
        <label><input class="checkbox" type="checkbox" name="forward">同时转发到我的微博</label>
    </li>
    <li>
        <label><input class="checkbox" type="checkbox" name="isroot">同时评论给原文作者</label>
    </li>
</ul>
<div class="fn-right" style="margin-right:10px;">
    <a class="btn btn-warning submit">评论</a>
</div>
</div>
</script>