<div class="modal fade hide" id="pm-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 class="title">发私信</h3>
  </div>
  <div class="modal-body">
      <table>
        <tbody>
          <tr>
            <td>发  给：</td>
            <td><input id="pm-title" type="text" class="text" value="" /></td>
          </tr>
          <tr>
            <td>内  容：</td>
            <td>
              <textarea id="pm-detail"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal-footer">
    <a href="javascript:;" class="btn btn-warning pm-submit" id="save-pm2">发送</a>
  </div>
</div>